@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Montserrat&display=swap');


html {
    scroll-behavior: smooth;
}

body {
color: #696969;
width: 960px;
margin: 0;
padding: 0;
}







