@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

 body {
    margin: 0;
    padding: 0;
    width: dynamic;
    position: absolute;
}



h1 {
    font-family: 'Montserrat';
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #A0522D;
}

h4 {
    font-family: 'Montserrat';
    font-size: 1rem;
    line-height: 4rem;
    letter-spacing: 0.5px;
    color: #778899;
}

/*banner*/

.banner {
    height: 30%;
    width: 100%;
    display: block;
} 


.banner > .banner-img {
    position: relative;
    width: 100%;
    height: 30rem;
    background-repeat: no-repeat center center;
    -webkit-background-size: cover;  
    background-size: cover;
}


/*content sections*/

.home-section, .about-section, .gallery-section, .form-section {
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat';
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 700px;
}

.text-area h2 {
    overflow: auto;
    font-family: 'Roboto';
    color:#4F6D7A;
    
}

/*gallery*/

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, minmax(10px, 1fr));
    grid-template-rows: repeat(4, 10vw);
    grid-gap: 16px;
    background-color: #EAEAEA;
    padding: 16px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .9;
    transition: opacity 0.3s;
}

img:hover {
    opacity: 1;
}
















/*Navbar*/



/*Navbar*/





 








