* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    position: absolute; 
}


h1 {
    font-family: "Montserrat", sans-serif;  
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #A0522D;
}

h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    line-height: 4rem;
    letter-spacing: 0.5px;
    color: #778899;
}


/*Navbar*/

.navbar-brand {
    float: right;
    display: block;
}



/*banner*/

.banner {
    height: 40%;
    width: 100%;
    display: block;
} 


.banner-img {
    position: relative;
    width: 100%;
    height: 7rem;
}




/*content sections*/

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    flex-wrap: wrap;
    width: 100%;
    height: 800px;
}


#home{
    overflow: hidden;
    text-align: center;
    color: #4F6D7A;
    background-color: #fff;
}

#left-about{
    padding-top: 30px;
    width: 80%;
    float: left;
}

#right-about {
    width: 33%;
    margin-top: 55px;
    float: right;
}

#circle-container {
    width: 400px;
    height: 400px;
    padding: 10px;
    border-style: solid;
    border-color: #A0522D;
    border-width: 2px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover {
    background: url("https://lh3.googleusercontent.com/proxy/j8o3J34E1S5B1o7gnKBlqsmVkpqfp5wn98UoBkxutl_40tyFXboruwVrMl78XqmoDVMJiM7n-YywYjzfYy-s9761SykhaQ") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}


#about {
    overflow: auto;
    text-align: center;
    color:#4F6D7A;
    background-color: #F0E68C;
}

#gallery {
    overflow: auto;
    color:#4F6D7A;
    background-color: #fff;
} 

#form {
    overflow: auto;
    font-family: "Roboto", sans-serif;
    color:#4F6D7A;
    background-color: #fff;
}   




/*gallery*/
.gallery-content {
    width: 100%;
    height: 100vh;
    align-items: center;
    overflow: auto;
} 

#gallery {
    display: flex;
    flex-flow: row wrap;
}


.img {
    max-width: 10%;
    max-height: 10%;
    object-fit: contain;
    opacity: .9;
    margin: 10px;
    transition: opacity 0.3s;
}

img:hover {
    opacity: 1;
}





/* form */ 

#form {
   position: absolute;
   top: 60%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}
 

input {
    width: 100%;
    margin: 60px 0;
    background: rgba (0,0,0,0);
    border: none;
    border-bottom: 1px solid gray;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    line-height: 4rem;
    letter-spacing: 0.5px;
    color: #778899;
}

#name {
   margin-top: 40px;
}

#email {
   margin-top: 40px;
}

#message {
    margin-top: 55px;
}

::-webkit-input-placeholder {
    color: #778899;
    font-size: 15px;
    letter-spacing: 2px;
}

button {
    font-family: "Roboto", sans-serif;
    padding: 10px 16px;
    font-size: 13px;
    background: #C0D6DF;
    border: none;
    margin-top: 40px;
    border-top: 60px;
    border-radius: 5px;
}






/* footer */ 






/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
   .banner-img {
        height: 10rem;
    }
 }


@media screen and (min-width: 992px) { 
    .banner-img {
        height: 15rem;
    }
 }


@media screen and (min-width: 1200px) {
    .banner-img {
        height: 18rem;
    }
 }


 








